@use "./variables" as *;
@use "./global" as *;
@use "./mixins" as *;

// Basic Classes
.mybtn {
	background: transparent;
	color: get(white);
	width: fit-content;
	font-size: 1.8rem;
	font-weight: 500;
	padding: gutter(p2, p6);
	margin: get(m3);
	display: block;
	cursor: pointer;
	border: 2px solid get(main-color);
	border-radius: get(r6);
	transition: all 0.4s ease-in-out !important;
	&:hover,
	&:focus {
		background: get(main-color);
		color: get(white);
		border-color: get(main-color) !important;
	}
	@include width(md) {
		padding: gutter(p2, p4);
		margin: get(m2);
	}
	@include width(sm) {
		padding: gutter(p2, p3);
		margin: get(m1);
	}
}

.light-title {
	color: get(white);
	text-align: center;
	margin-bottom: get(m5);
	h1 {
		font-size: 4rem;
	}
	span {
		font-size: 2rem;
		position: relative;
		&::before {
			content: "";
			background: get(white);
			width: 50px;
			height: 3px;
			position: absolute;
			top: 50%;
			left: -60px;
		}
		&::after {
			content: "";
			background: get(white);
			width: 50px;
			height: 3px;
			position: absolute;
			top: 50%;
			right: -60px;
		}
	}
	@include width(sm) {
		font-size: 2.5rem;
	}
}

.dark-title {
	@extend .light-title;
	color: get(dark-text);
	span {
		&::before,
		&::after {
			background: get(dark-text) !important;
		}
	}
}

// Swiper Library
.swiper-pagination {
	bottom: -5px !important;
	.swiper-pagination-bullet-active {
		width: 20px;
		border-radius: 4px;
	}
	.swiper-pagination-bullet {
		background: get(main-color);
	}
}

// Show & Hide Elements
.hide-height {
	max-height: 0 !important;
}

.show-display {
	display: initial !important;
}

.hide-display {
	display: none !important;
}

.show-scale {
	transform: scale(1) !important;
}

.hide-scale {
	transform: scale(0) !important;
	height: 0 !important;
}

.main-color {
	color: get(main-color);
}

$clipPath: (
	top: (
		show: (
			50% 0%,
			100% 0,
			100% 100%,
			0 100%,
			0 0,
		),
		hide: (
			50% 0%,
			100% 0,
			100% 0,
			0 0,
			0 0,
		),
	),
	right: (
		show: (
			50% 0%,
			100% 0,
			100% 100%,
			0 100%,
			0 0,
		),
		hide: (
			50% 0%,
			100% 0,
			100% 100%,
			100% 100%,
			100% 0,
		),
	),
	bottom: (
		show: (
			50% 0%,
			100% 0,
			100% 100%,
			0 100%,
			0 0,
		),
		hide: (
			50% 100%,
			100% 100%,
			100% 100%,
			0 100%,
			0 100%,
		),
	),
	left: (
		show: (
			50% 0%,
			100% 0,
			100% 100%,
			0 100%,
			0 0,
		),
		hide: (
			0 0,
			0 50%,
			0 100%,
			0 100%,
			0 0,
		),
	),
);

@each $dir, $value in $clipPath {
	.show-#{$dir}-clip {
		clip-path: polygon(map-get($value, show)) !important;
	}

	.hide-#{$dir}-clip {
		clip-path: polygon(map-get($value, hide)) !important;
	}
}

$opacities: (
	opacity-0: 0,
	opacity-10: 0.1,
	opacity-15: 0.15,
	opacity-20: 0.2,
	opacity-25: 0.25,
	opacity-30: 0.3,
	opacity-35: 0.35,
	opacity-40: 0.4,
	opacity-45: 0.45,
	opacity-50: 0.5,
	opacity-55: 0.55,
	opacity-60: 0.6,
	opacity-65: 0.65,
	opacity-70: 0.7,
	opacity-75: 0.75,
	opacity-80: 0.8,
	opacity-85: 0.85,
	opacity-90: 0.9,
	opacity-95: 0.95,
	opacity-100: 1,
);

@each $opacity, $value in $opacities {
	.#{$opacity} {
		opacity: $value;
	}
}

$fonts: (
	f-10: 10,
	f-15: 15,
	f-20: 20,
	f-25: 25,
	f-30: 30,
	f-35: 35,
	f-40: 40,
	f-45: 45,
	f-50: 50,
	f-55: 55,
	f-60: 60,
	f-65: 65,
	f-70: 70,
	f-75: 75,
	f-80: 80,
	f-85: 85,
	f-90: 90,
	f-95: 95,
	f-100: 100,
);

@each $font, $value in $fonts {
	.#{$font} {
		font-size: #{$value}px;
	}
}
