// Set The Global Variables
:root {
	--white: #fff;
	--black: #000;
	--main-color: #dc143c;
	--second-color: #e91e63;
	--light-text: #aaa;
	--dark-text: #171d21;
	--light-bg: #ccc;
	--dark-bg: #171d21;
	--border: 1px solid var(--light-text);
	--box-shadow: 5px 5px 15px var(--main-color);

	--p0: 0;
	--p1: 5px;
	--p2: 10px;
	--p3: 15px;
	--p4: 20px;
	--p5: 25px;
	--p6: 30px;

	--m0: 0;
	--m1: 5px;
	--m2: 10px;
	--m3: 15px;
	--m4: 20px;
	--m5: 25px;
	--m6: 30px;

	--r0: 0;
	--r1: 5px;
	--r2: 10px;
	--r3: 15px;
	--r4: 20px;
	--r5: 25px;
	--r6: 30px;
	--circle: 100%;
}

@function get($att) {
	@return var(--#{$att});
}

@function gutter($gutter1, $gutter2) {
	@return var(--#{$gutter1}) var(--#{$gutter2});
}
