$fonts: (
	Cursive-font: (
		font: cursive,
	),
	Poppins-font: (
		font: "Poppins",
	),
	Caveat-font: (
		font: "Caveat",
	),
	Cinzel-font: (
		font: "Cinzel",
	),
	Dancing-font: (
		font: "Dancing",
	),
	Montserrat-font: (
		font: "Montserrat",
	),
);
@each $font, $map in $fonts {
	body.#{$font} {
		font-family: map-get($map, font);
	}
}
