h1.visually-hidden Heroes examples
.px-4.py-5.my-5.text-center
    img.d-block.mx-auto.mb-4(src='./static/images/bootstrap-logo.svg' alt='' width='72' height='57')
    h1.display-5.fw-bold Centered hero
    .col-lg-6.mx-auto
        p.lead.mb-4
            | Quickly design and customize responsive mobile-first sites with Bootstrap, the world&rsquo;s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.
    .d-grid.gap-2.d-sm-flex.justify-content-sm-center
        button.btn.btn-primary.btn-lg.px-4.me-sm-3(type='button') Primary button
        button.btn.btn-outline-secondary.btn-lg.px-4(type='button') Secondary
.b-example-divider
.px-4.pt-5.my-5.text-center.border-bottom
    h1.display-4.fw-bold Centered screenshot
    .col-lg-6.mx-auto
        p.lead.mb-4
            | Quickly design and customize responsive mobile-first sites with Bootstrap, the world&rsquo;s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.
    .d-grid.gap-2.d-sm-flex.justify-content-sm-center.mb-5
        button.btn.btn-primary.btn-lg.px-4.me-sm-3(type='button') Primary button
        button.btn.btn-outline-secondary.btn-lg.px-4(type='button') Secondary
    .overflow-hidden(style='max-height: 30vh;')
    .container.px-5
        img.img-fluid.border.rounded-3.shadow-lg.mb-4(src='./static/images/bootstrap-docs.png' alt='Example image' width='700' height='500' loading='lazy')
.b-example-divider
.container.col-xxl-8.px-4.py-5
    .row.flex-lg-row-reverse.align-items-center.g-5.py-5
        .col-10.col-sm-8.col-lg-6
            img.d-block.mx-lg-auto.img-fluid(src='./static/images/bootstrap-themes.png' alt='Bootstrap Themes' width='700' height='500' loading='lazy')
        .col-lg-6
            h1.display-5.fw-bold.lh-1.mb-3 Responsive left-aligned hero with image
            p.lead
                | Quickly design and customize responsive mobile-first sites with Bootstrap, the world&rsquo;s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.
            .d-grid.gap-2.d-md-flex.justify-content-md-start
                button.btn.btn-primary.btn-lg.px-4.me-md-2(type='button') Primary
                button.btn.btn-outline-secondary.btn-lg.px-4(type='button') Default
.b-example-divider
.container.col-xl-10.col-xxl-8.px-4.py-5
    .row.align-items-center.g-lg-5.py-5
        .col-lg-7.text-center.text-lg-start
            h1.display-4.fw-bold.lh-1.mb-3 Vertically centered hero sign-up form
            p.col-lg-10.fs-4
                | Below is an example form built entirely with Bootstrap&rsquo;s form controls. Each required form group has a validation state that can be triggered by attempting to submit the form without completing it.
        .col-md-10.mx-auto.col-lg-5
            form.p-4.p-md-5.border.rounded-3.bg-light
                .form-floating.mb-3
                    input#floatingInput.form-control(type='email' placeholder='name@example.com')
                    label(for='floatingInput') Email address
                .form-floating.mb-3
                    input#floatingPassword.form-control(type='password' placeholder='Password')
                    label(for='floatingPassword') Password
                .checkbox.mb-3
                    label
                        input(type='checkbox' value='remember-me') 
                        | Remember me
                button.w-100.btn.btn-lg.btn-primary(type='submit') Sign up
                hr.my-4
                small.text-muted By clicking Sign up, you agree to the terms of use.
.b-example-divider
.container.my-5
    .row.p-4.pb-0.pe-lg-0.pt-lg-5.align-items-center.rounded-3.border.shadow-lg
        .col-lg-7.p-3.p-lg-5.pt-lg-3
            h1.display-4.fw-bold.lh-1 Border hero with cropped image and shadows
            p.lead
                | Quickly design and customize responsive mobile-first sites with Bootstrap, the world&rsquo;s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.
            .d-grid.gap-2.d-md-flex.justify-content-md-start.mb-4.mb-lg-3
                button.btn.btn-primary.btn-lg.px-4.me-md-2.fw-bold(type='button') Primary
                button.btn.btn-outline-secondary.btn-lg.px-4(type='button') Default
        .col-lg-4.offset-lg-1.p-0.overflow-hidden.shadow-lg
            img.rounded-lg-3(src='./static/images/bootstrap-docs.png' alt='' width='720')
.b-example-divider
.bg-dark.text-secondary.px-4.py-5.text-center
    .py-5
        h1.display-5.fw-bold.text-white Dark mode hero
        .col-lg-6.mx-auto
            p.fs-5.mb-4
                | Quickly design and customize responsive mobile-first sites with Bootstrap, the world&rsquo;s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.
            .d-grid.gap-2.d-sm-flex.justify-content-sm-center
                button.btn.btn-outline-info.btn-lg.px-4.me-sm-3.fw-bold(type='button') Custom button
                button.btn.btn-outline-light.btn-lg.px-4(type='button') Secondary
