@use "./mixins" as *;

.to-do-list {
	padding: get(p3);
	font-size: 20px;
	.task-list {
		background-color: get(dark-color);
		width: fit-content;
		margin: 15px;
		.task {
			@include Flex(space-between, center);
			width: 600px;
			padding: gutter(p0, p2);
			p {
				width: 100%;
			}
		}
		.clear-Tasks {
			width: 100%;
			display: block;
		}
	}
}
