@use "@/assets/scss/mixins" as *;

.styles {
	.green {
		background-color: green;
	}
	.crimson {
		background-color: crimson;
	}
	.bold {
		font-weight: bold;
	}
	.white-text {
		color: get(white);
	}
	.black-text {
		color: get(dark-color);
	}
	.pointer {
		cursor: pointer;
	}
}
