.App {
	text-align: center;
}

.App-logo {
	height: 30vmin;
	user-select: none;
}

.App-header {
	background-color: #282c34;
	color: white;
	min-height: calc(100vh - 70px);
	display: flex;
	font-size: calc(10px + 2vmin);
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.App-link {
	color: #61dafb;
}

.notics {
	padding-inline: 40px;
	text-align: left;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: spin 20s linear infinite;
	}
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
