@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&family=Jomhuria&display=swap");

* {
	padding: 0;
	margin: 0;
	text-transform: capitalize;
	box-sizing: border-box;
}

body {
	width: 100vw;
	overflow-x: hidden;
}

::selection {
	background-color: #e91e63;
	color: white;
	text-shadow: 10px 10px 10px black;
}
::-webkit-scrollbar {
	width: 8px;
}
::-webkit-scrollbar-thumb {
	background-color: #e91e63;
}
::-webkit-scrollbar-track {
	background-color: #ddd;
}

:root {
	--main-color: #009688;
	--second-color: #e91e63;
	--padding: 10px;
	--light-gray: #f3f3f3;
	--dark-gray: #ddd;
}

.seperated {
	font-size: 25px;
	text-align: center;
	margin: 20px 0;
}

%assign {
	background-color: var(--dark-gray);
	width: 80%;
	height: 600px;
	padding: 20px;
	margin: auto;
	font-size: 40px;
}

$rows: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12;
@each $row in $rows {
	.row-#{$row} {
		grid-row: span $row;
	}
}

$columns: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12;
@each $column in $columns {
	.column-#{$column} {
		grid-column: span $column;
	}
}

/* From 05 To 08 
.assign-1 {
	h3 {
		background-color: blueviolet;
		background-color: #8a2be3;
		background-color: rgb(138, 43, 226);
		background-color: hsl(271, 76%, 53%);
		color: white;
		width: 500px;
		padding: 20px;
		margin: 10px auto;
		text-align: center;
	}
	.shape-2 {
		background-color: rgba(137, 43, 226, 0.5);
	}
	.shape-3 {
		background-color: rgba(137, 43, 226, 0.2);
		color: black;
	}
}

.assign-2 {
	width: 80%;
	margin: auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	gap: 20px;
	h3 {
		background-color: var(--light-gray);
		background-image: url(../images/css-assignment-5-8.png);
		color: white;
		width: 600px;
		height: 300px;
	}
	.shape-1 {
		background-repeat: no-repeat;
	}
	.shape-2 {
		background-repeat: repeat-y;
	}
	.shape-3 {
		background-repeat: repeat-x;
	}
	.shape-4 {
		background-repeat: repeat;
	}
}

.assign-3 {
	width: 80%;
	margin: auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	gap: 20px;
	h3 {
		background-color: var(--light-gray);
		background-image: url(../images/css-assignment-5-8.png);
		color: white;
		width: 600px;
		height: 300px;
		margin-top: 20px;
	}
	.shape-1 {
		background-repeat: no-repeat;
	}
	.shape-2 {
		background-repeat: repeat-y;
		color: black;
		width: 400px;
		padding-left: 200px;
	}
	.shape-3 {
		background-repeat: repeat-x;
	}
}
*/

/* From 09 To 12 
	.assign-1 {
		text-align: center;
		h3 {
			background-color: var(--dark-gray);
			display: inline-block;
			font-size: 40px;
			text-align: center;
			padding: 20px;
			margin: 20px;
		}
		.shape-1 {
			outline: 12px black solid;
			border: 12px red solid;
		}
		.shape-2 {
			outline: 12px black solid;
			border: 12px solid;
			border-color: blue green;
		}
		.shape-3 {
			outline: 15px black solid;
			border: 12px dashed;
			border-color: red green blue yellow;
		}
	}

	.assign-2 {
		h3 {
			background-color: var(--dark-gray);
			width: 700px;
			padding: 20px;
			font-size: 25px;
			margin: 10px auto;
			line-height: 2;
		}
		.shape-1 {
			span {
				border-left: 10px crimson solid;
				height: 50px;
				padding-left: 10px;
				display: block;
			}
		}
		.shape-2 {
			@extend .shape-1;
			opacity: 0.3;
			span {
				border-color: #4048b8;
			}
		}
		.shape-3 {
			@extend .shape-1;
			span {
				border-color: #40b890;
			}
		}
	}
*/

/* From 13 To 16 
.assign-1 {
	padding: 20px;
	.parent {
		font-size: 25px;
		text-align: center;
		.child {
			.title {
				color: red;
			}
		}
		.title {
			color: blue;
		}
		p {
			color: green;
		}
	}
	.title {
		text-align: center;
		font-size: 25px;
	}
}

.assign-2 {
	.shape-1 {
		background-color: brown;
		color: white;
		width: fit-content;
		max-width: 700px;
		font-size: 40px;
		padding: 20px;
		margin: 20px;
	}
	.shape-2 {
		@extend .shape-1;
	}
	.shape-3 {
		@extend .shape-1;
	}
	.shape-4 {
		@extend .shape-1;
		height: 86.5px;
		overflow-y: hidden;
	}
}
*/

/* From 17 To 21 
	.assign-1 {
		color: black;
		text-align: center;
		font-size: 90px;
		font-weight: bold;
		font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
		margin-top: 20px;
		text-shadow: 3px 3px 0 red, 5px 5px 0 rgb(84, 84, 242), 6px 6px 0 blueviolet;
	}

	.assign-2 {
		font-size: 90px;
		text-align: center;
		.shape-1 {
			text-transform: uppercase;
		}
		.shape-2 {
			text-transform: capitalize;
		}
		.shape-3 {
			text-transform: lowercase;
		}
	}

	.assign-3 {
		width: 800px;
		font-size: 25px;
		text-align: center;
		padding-right: 20px;
		margin: auto;
		.shape-1 {
			background-color: var(--dark-gray);
			padding: 20px;
			margin: 20px;
		}
		.shape-2 {
			@extend .shape-1;
			height: 40px;
			padding-top: 0;
			line-height: 2;
			overflow-y: hidden;
		}
		.shape-3 {
			@extend .shape-1;
			white-space: nowrap;
			overflow-x: hidden;
			text-overflow: ellipsis;
		}
	}

	.assign-4 {
		margin: 20px;
		a {
			background-color: #2ea18f;
			color: white;
			width: fit-content;
			font-size: 90px;
			font-weight: bold;
			font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
			padding: 20px 40px;
			display: block;
			margin: auto;
			text-transform: capitalize;
			text-decoration: none;
			border-bottom: 20px solid #055f52;
		}
	}
*/

/* From 22 To 26 
	.assign-1 {
		background-color: var(--light-gray);
		text-align: center;
		font-size: 90px;
		border: 10px solid red;
		padding: 50px;
		margin: 20px;
		p {
			border: inherit;
			border-color: indigo;
		}
	}

	.assign-2 {
		text-align: center;
		font-size: 90px;
		.shape-1 {
			font-family: "Open Sans";
			font-weight: 700;
		}
		.shape-2 {
			font-family: "Cairo", sans-serif;
			font-weight: 700;
		}
		.shape-3 {
			font-family: "Jomhuria", cursive;
			font-weight: 400;
		}
	}

	.assign-3 {
		text-align: center;
		.shape-1 {
			background-color: var(--dark-gray);
			margin: 20px 40px;
			font-size: 3.125rem;
		}
		.shape-2 {
			@extend .shape-1;
			font-size: 2.5rem;
		}
		.shape-3 {
			@extend .shape-1;
			font-size: 1.875rem;
		}
	}
*/

/* From 27 To 29 
.assign-1 {
	@extend %assign;
	background-color: var(--light-gray);
	height: auto;
	font-size: 30px;
	.row {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 20px;
		.col {
			background-color: var(--dark-gray);
			width: 100%;
			text-align: center;
			font-weight: bold;
			padding: 25px;
			margin-block: 10px;
			&.no-margin-top {
				margin-top: 0;
			}
			&.no-margin-bottom {
				margin-bottom: 0;
			}
		}
	}
}

.assign-2 {
	@extend %assign;
	background-color: var(--light-gray);
	font-weight: bold;
	.shape-1 {
		background-color: var(--dark-gray);
		padding: 20px;
		margin: 20px;
		opacity: 1;
	}
	.shape-2 {
		@extend .shape-1;
		background-color: rgba(#aaa, 0.2);
	}
	.shape-3 {
		@extend .shape-1;
		opacity: 0.2;
	}
}
*/

/* From 30 To 33 
.assign-1 {
	background-color: var(--dark-gray);
	width: 300px;
	height: 300px;
	position: relative;
	margin: 20px;
	display: none;
	.blue {
		background-color: #03a9f4;
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: 1;
	}
	.green {
		@extend .blue;
		background-color: #009688;
		z-index: 2;
		left: 30px;
		top: 30px;
	}
	.red {
		@extend .blue;
		background-color: #f44336;
		z-index: 3;
		left: 60px;
		top: 60px;
	}
	.black {
		@extend .blue;
		background-color: black;
		width: 30px;
		height: 30px;
		top: 100%;
		left: 0;
	}
}

.assign-2 {
	@extend %assign;
	height: auto;
	font-size: 30px;
	font-family: monospace;
	font-weight: normal;
	text-align: center;
	line-height: 2;
	padding: 40px;
	border: 5px solid;
	border-color: #f44336 #03a9f4;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: none;
	.num {
		background-color: #03a9f4;
		color: white;
		width: 80px;
		height: 60px;
	}
	.top-left {
		@extend .num;
		position: absolute;
		top: -30px;
		left: -35px;
		border-right: 5px solid #f44336;
	}
	.bottom-left {
		@extend .num;
		position: absolute;
		bottom: -30px;
		left: -35px;
		border-right: 5px solid #f44336;
	}
	.top-right {
		@extend .num;
		position: absolute;
		top: -30px;
		right: -35px;
		border-left: 5px solid #f44336;
	}
	.bottom-right {
		@extend .num;
		position: absolute;
		bottom: -30px;
		right: -35px;
		border-left: 5px solid #f44336;
	}
}

.assign-3 {
	display: none;
	.list-container {
		@extend %assign;
		font-size: 25px;
		.list-item {
			list-style: none;
			font-weight: bold;
			font-family: "Cairo";
			line-height: 1;
			.nested-list {
				font-weight: normal;
				&[data-type="number"] {
					list-style: decimal;
				}
				&[data-type="size"] {
					list-style: lower-roman;
				}
				&[data-type="circle"] {
					list-style: circle;
					list-style-position: inside;
				}
				.nested-item {
					background-color: white;
					padding: 10px;
					margin: 10px;
					margin-left: 30px;
					&.last {
						margin-left: 0;
					}
				}
			}
		}
	}
}

.assign-4 {
	display: none;
	table {
		@extend %assign;
		text-align: center;
		font-size: 30px;
		thead {
			tr {
				padding: 20px;
				td {
					background-color: #333;
					color: white;
					padding: 20px;
					font-weight: bold;
					border-right: 2px solid white;
				}
			}
		}
		tbody {
			tr {
				td {
					padding: 20px;
					border-right: 2px solid white;
					border-bottom: 2px solid white;
					font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
					button {
						color: white;
						padding: 10px 20px;
						font-size: 18px;
						border: none;
						border-radius: 5px;
						cursor: pointer;
						transition: 0.0.5s ease-in-out;
						&:nth-child(1) {
							background-color: #03a9f4;
						}
						&:nth-child(2) {
							background-color: crimson;
						}
						&:active {
							background-color: white;
							color: black;
						}
					}
				}
			}
		}
	}
}
*/

/* From 34 To 37 
.assign-1 {
	@extend %assign;
	height: auto;
	&::first-letter {
		background-color: red;
		color: white;
		margin-left: -40px;
		padding: 10px;
		font-size: 40px;
	}
}

.assign-2 {
	@extend %assign;
	width: 70%;
	height: auto;
	p {
		background-color: var(--light-gray);
		font-size: 30px;
		padding: 40px 20px;
		margin: 20px 0;
		position: relative;
		border-left: 10px solid var(--second-color);
		&::before {
			content: "";
			position: absolute;
			top: 50%;
			right: 100%;
			margin-top: -30px;
			border: 30px solid;
			z-index: 2;
			border-color: transparent #e91e63 transparent transparent;
		}
		&::after {
			content: attr(data-person);
			background-color: var(--light-gray);
			width: 100px;
			padding: 20px;
			padding-right: 50px;
			text-align: center;
			position: absolute;
			right: 105%;
			bottom: 50%;
			border-right: 10px solid #e91e63;
			transform: translateY(50%);
		}
	}
}

.assign-3 {
	@extend %assign;
	height: auto;
	p {
		background-color: var(--light-gray);
		font-size: 25px;
		padding: 20px;
		margin: 10px 0;
		counter-increment: myCounter;
		position: relative;
		&::before {
			content: counter(myCounter);
			background-color: #e91e63;
			color: white;
			width: 40px;
			height: 100%;
			line-height: 2.5;
			font-weight: bold;
			text-align: center;
			position: absolute;
			top: 0;
			left: -30px;
		}
		&::after {
			content: "";
			background-color: #e91e63;
			width: 10px;
			height: 100%;
			position: absolute;
			top: 0;
			right: 0;
		}
	}
}
*/

/* From 38 To 41 
.assign-1 {
	display: flex;
	justify-content: space-around;
	align-items: center;
	div {
		background-color: var(--light-gray);
		width: 15vw;
		height: 15vw;
		border: 5px solid black;
		border-radius: 50%;
		counter-increment: myCounter;
		box-shadow: 10px 10px 0 2px #2196f3, -10px -10px 0 2px #e91e63;
		position: relative;
		&::before {
			content: counter(myCounter);
			background-color: black;
			color: white;
			font-size: 44px;
			padding: 0 15px;
			border-radius: 50%;
			position: absolute;
			top: -35px;
			left: 50%;
			transform: translateX(-60%);
		}
		&::after {
			content: "Element";
			font-size: 45px;
			font-weight: bold;
			position: absolute;
			top: 45%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
}

.assign-2 {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 50px;
	div {
		background-color: var(--light-gray);
		width: 300px;
		height: 300px;
		border-radius: 25px 50%;
		box-shadow: inset 0 0 20px black;
	}
}

.assign-3 {
	margin: 50px 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: relative;
	.or-line {
		background-color: #2196f3;
		color: white;
		font-size: 20px;
		font-weight: bold;
		padding: 20px;
		border-radius: 50%;
		z-index: 2;
		&::before {
			content: "";
			background-color: #2196f3;
			width: 5px;
			height: 48%;
			position: absolute;
			top: 0;
			left: 50%;
			z-index: 1;
		}
		&::after {
			content: "";
			background-color: #2196f3;
			width: 5px;
			height: 48%;
			position: absolute;
			bottom: 0;
			left: 50%;
			z-index: 1;
		}
	}
	.card {
		background-color: var(--light-gray);
		width: 600px;
		padding: 20px;
		margin: 20px 0;
		border: 1px solid black;
		border-radius: 10px;
		.title {
			background-color: #2196f3;
			color: white;
			padding: 10px;
			text-align: center;
			font-size: 40px;
			border-radius: 10px;
		}
		.salery {
			background-color: var(--dark-gray);
			text-align: center;
			font-weight: bold;
			font-size: 90px;
			padding: 200px 100px;
			margin: 20px;
			border-radius: 50%;
		}
	}
}
*/

/* From 42 To 45 
.assign-1 {
	@extend %assign;
	height: 300px;
	cursor: pointer;
	transition: 0.5s ease-in-out;
	&:hover {
		transform: translateY(-30px);
		p.shape-2 {
			transform: translateY(30px);
		}
	}
	p.shape-2 {
		background-color: var(--light-gray);
		margin-top: 20px;
		transition: 0.5s ease-in-out;
		transition-delay: 0.5s;
	}
}

.assign-2 {
	@extend %assign;
	background-color: var(--dark-gray) !important;
	color: transparent !important;
	height: auto;
	text-align: center;
	border: none !important;
	position: relative;
	&::before {
		content: "Elzero";
		color: black !important;
		width: 100%;
		height: 100%;
		font-family: "Gill Sans MT";
		text-align: center;
		position: absolute;
		top: 15%;
		left: 0;
	}
}

.assign-3 {
	@extend %assign;
	height: auto;
	.element {
		background-color: var(--light-gray);
		color: var(--main-color, red);
		font-size: 40px;
		padding: var(--padding, 20px);
		margin: var(--padding, 20px) 50px;
		border: 5px solid var(--main-color, black);
	}
}
*/

/* From 46 To 53 
.assign-1 {
	@extend %assign;
	color: var(--second-color);
	width: 500px;
	height: 480px;
	text-align: center;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
	border-left: 40px solid var(--main-color);
	border-right: 40px solid var(--second-color);
	border-radius: 50%;
}

.assign-2 {
	@extend %assign;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-content: space-between;
	display: none;
	h3 {
		background-color: var(--second-color);
		color: white;
		width: calc((100% / 3) - 20px);
		padding: 30px 0;
		margin: 10px;
		font-size: 40px;
		text-align: center;
	}
}

.assign-3 {
	@extend %assign;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	display: none;
	h3 {
		background-color: var(--main-color);
		color: white;
		width: calc((100% / 3) - 20px);
		text-align: center;
		padding: 10px 0;
		margin: 10px;
		font-size: 50px;
		display: flex;
		justify-content: center;
		align-items: center;
		&.one {
			order: 6;
			align-self: flex-end;
		}
		&.two {
			order: 5;
		}
		&.three {
			order: 2;
			align-self: flex-start;
		}
		&.four {
			order: 3;
		}
		&.five {
			order: 4;
		}
		&.six {
			order: 1;
		}
	}
}

.assign-4 {
	@extend %assign;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-flow: column;
	display: none;
	h3 {
		background-color: var(--main-color);
		color: white;
		font-size: 40px;
		text-align: center;
		padding: 60px 20px;
		margin: 0 10px;
		&.one {
			align-self: flex-end;
		}
		&.two {
			width: calc((100% / 3) - 20px);
			align-self: flex-start;
			padding: 40px;
		}
		&.three {
			align-self: flex-end;
		}
	}
}

.assign-5 {
	@extend %assign;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: flex-start;
	display: none;
	h3 {
		color: white;
		width: calc((100% / 5) - 20px);
		height: calc(50% - 20px);
		font-size: 40px;
		margin: 10px;
		display: flex;
		justify-content: center;
		align-items: center;
		&.one {
			background-color: #ff9800;
			order: 2;
		}
		&.two {
			background-color: #8bc34a;
			order: 3;
			align-self: flex-end;
		}
		&.three {
			background-color: #795548;
			order: 4;
		}
		&.four {
			background-color: #673ab7;
			order: 1;
			align-self: flex-end;
		}
	}
}

.assign-6 {
	@extend %assign;
	background: var(--light-gray);
	display: flex;
	flex-flow: column;
	display: none;
	.header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		.logo {
			background-color: var(--dark-gray);
			font-size: 18px;
			font-weight: bold;
			padding: 15px 30px;
			margin: 10px;
			border-radius: 5px;
			text-align: center;
			flex-grow: 1;
		}
		.links {
			@extend .logo;
			background-color: var(--dark-gray);
			display: flex;
			justify-content: flex-end;
			align-items: center;
			flex-grow: 40;
			gap: 10px;
			li {
				list-style-type: none;
				cursor: pointer;
				&:hover {
					color: #009688;
				}
			}
		}
	}
	.main-area {
		display: flex;
		justify-content: space-between;
		flex-grow: 1;
		font-size: 22px;
		font-weight: bold;
		.content {
			background-color: var(--dark-gray);
			flex-grow: 3;
			padding: 20px;
			margin: 0 10px;
		}
		.sidebar {
			@extend .content;
			flex-grow: 1;
		}
	}
	.footer {
		background-color: var(--dark-gray);
		display: flex;
		justify-content: space-between;
		font-size: 18px;
		padding: 20px;
		margin: 10px;
	}
}
*/

/* From 54 To 56 
.assign-1 {
	@extend %assign;
	height: auto;
	font-size: 100px;
	text-align: center;
	letter-spacing: 20px;
	position: relative;
	border-right: 16px solid #673ab7;
	border-left: 16px solid #f44336;
	&::first-letter {
		color: red;
	}
	&::before {
		content: "";
		background: linear-gradient(
			to right,
			#f44336 0%,
			#f44336 20%,
			#2196f3 20%,
			#2196f3 40%,
			#4caf50 40%,
			#4caf50 60%,
			#e91e63 60%,
			#e91e63 80%,
			#673ab7 80%,
			#673ab7 100%
		);
		width: 100%;
		height: 15px;
		position: absolute;
		top: 0;
		left: 0;
	}
	&::after {
		content: "";
		background: linear-gradient(
			to right,
			#f44336 0%,
			#f44336 20%,
			#2196f3 20%,
			#2196f3 40%,
			#4caf50 40%,
			#4caf50 60%,
			#e91e63 60%,
			#e91e63 80%,
			#673ab7 80%,
			#673ab7 100%
		);
		width: 100%;
		height: 15px;
		position: absolute;
		bottom: 0;
		left: 0;
	}
}

.assign-2 {
	@extend %assign;
	height: auto;
	h3 {
		background: var(--light-gray);
		padding: 20px 40px;
		margin: 20px 10px;
		font-size: 40px;
		position: relative;
		caret-color: #e91e63;
		&::before {
			background: linear-gradient(to right, #f44336 0%, #f44336 50%, #009688 50%, #009688 100%);
			content: "";
			width: 100%;
			height: 5px;
			position: absolute;
			bottom: 0;
			left: 0;
		}
		&:nth-child(2),
		&:nth-child(3) {
			color: rgba(black, 0.5);
		}
	}
}
*/

/* From 57 To 64 
// Parent Properties:
// [1] grid-template: [rows start] [columns start] / [rows end] [columns end]
// [2] grid-template-columns => set the columns number
// [3] grid-template-rows => set the rows numbers

// [3] grid-template-areas: [rows start] [column start] / [row end] [columns end]
// [4] grid-template-areas-start => start position
// [5] grid-template-areas-end => end position not include the end

// [6] justify-content => control in the horizontal align
// [7] align-content => control in the vertical align

// Child Properties:
// [1] grid-row => [row start] [row end]
// [2] grid-column => [column start] [column end]

// [3] grid-area => Name Of Grid-Template-Areas || Number Of Rows And Columns [start / end] [start / end]

.assign-1 {
	@extend %assign;
	display: grid;
	grid-template-columns: auto auto auto;
	grid-template-rows: auto 1fr;
	gap: 20px;
	display: none;
	div {
		background-color: #009688;
		width: 100%;
		padding: 20px;
		box-sizing: border-box;
		text-align: center;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		&::before {
			color: white;
			font-size: 30px;
		}
	}
	div:nth-child(1) {
		&::before {
			content: "Element 1";
		}
	}
	div:nth-child(2) {
		&::before {
			content: "Element 2";
		}
	}
	div:nth-child(3) {
		&::before {
			content: "Element 3";
		}
	}
	div:nth-child(4) {
		&::before {
			content: "Element 4";
		}
	}
	div:nth-child(5) {
		&::before {
			content: "Element 5";
		}
	}
	div:nth-child(6) {
		&::before {
			content: "Element 6";
		}
	}
}

.assign-2 {
	@extend %assign;
	font-size: 40px;
	gap: 20px;
	display: grid;
	grid-template-rows: auto 1fr auto;
	grid-template-areas:
		"head head head head head head head head head head head head"
		"sec sec sec sec sec sec sec sec sec sec aside aside"
		"foot foot foot foot foot foot foot foot foot foot foot foot";
	display: none;
	header {
		background-color: #03a9f4;
		color: white;
		padding: 20px;
		grid-area: head;
	}
	section {
		@extend header;
		background-color: #ff5722;
		grid-area: sec;
	}
	aside {
		@extend header;
		background-color: #607d8b;
		grid-area: aside;
	}
	footer {
		@extend header;
		background-color: #009688;
		grid-area: foot;
	}
}

.assign-3 {
	@extend %assign;
	display: grid;
	padding: 20px;
	grid-template-columns: auto 1fr 1fr auto;
	grid-template-rows: 1fr auto;
	gap: 20px;
	display: none;
	div {
		background-color: #333;
		color: white;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.assign-4 {
	@extend %assign;
	height: 400px;
	gap: 20px;
	display: grid;
	grid-template-rows: auto auto 1fr auto;
	grid-template-areas:
		"eight eight eight eight eight eight eight eight eight eight eight eight"
		"two two two two two two two two three three three three"
		"four four four five five five five five five five five five"
		"one one one one one one one one one one one one";
	display: none;
	div {
		background-color: #03a9f4;
		color: white;
		font-weight: bold;
		display: flex;
		justify-content: center;
		align-items: center;
		&.one {
			grid-area: one;
		}
		&.two {
			grid-area: two;
		}
		&.three {
			grid-area: three;
		}
		&.four {
			grid-area: four;
			align-self: flex-start;
		}
		&.five {
			grid-area: five;
		}
		&.six {
			grid-area: four;
			align-self: center;
		}
		&.seven {
			grid-area: four;
			align-self: flex-end;
		}
		&.eight {
			grid-area: eight;
		}
	}
}

.assign-5 {
	@extend %assign;
	display: grid;
	grid-template-rows: auto auto;
	grid-template-columns: 1fr 1fr;
	align-content: space-between;
	gap: 20px;
	display: none;
	div {
		background-color: var(--second-color);
		color: white;
		text-align: center;
		font-weight: bold;
	}
}

.assign-6 {
	@extend %assign;
	height: auto;
	font-size: initial;
	gap: 10px;
	display: grid;
	grid-template-rows: repeat(12, auto);
	grid-template-columns: repeat(12, auto);
	.box {
		background-color: white;
		padding: 20px;
		text-align: justify;
		border-bottom: 5px solid #e91e63;
		&.black {
			background-color: black;
			color: white;
		}
		.username {
			font-size: 22px;
		}
		.job-title {
			color: gray;
			padding-bottom: 10px;
		}
		.content-1 {
			padding-bottom: 10px;
		}
	}
}
*/

/* From 65 To 67 
.assign-1 {
	background: var(--light-gray);
	color: #2196f3;
	width: 600px;
	height: 400px;
	margin: 50px auto;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 90px;
	font-weight: bold;
	position: relative;
	z-index: revert;
	&::before {
		background-color: var(--second-color);
		content: "";
		width: 103%;
		height: 103%;
		position: absolute;
		z-index: -3;
		transform: rotate(5deg);
		transition: 0.5s ease-in-out;
	}
	&::after {
		background-color: #2196f3;
		content: "";
		width: 103%;
		height: 103%;
		position: absolute;
		z-index: -2;
		transform: rotate(-5deg);
		transition: 0.5s ease-in-out;
	}
	&:hover {
		&::before {
			transform: rotate(-5deg);
		}
		&::after {
			transform: rotate(5deg);
		}
	}
}

.assign-2 {
	background-color: var(--light-gray);
	color: #555;
	width: 400px;
	height: 400px;
	font-size: 90px;
	font-weight: bold;
	margin: 50px auto;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	cursor: pointer;
	position: relative;
	&::before {
		content: "";
		width: 100%;
		height: 100%;
		border: 20px solid #e91e63;
		border-left-color: transparent;
		position: absolute;
		border-radius: 50%;
		transition: 0.5s ease-in-out;
	}
	&::after {
		content: "";
		width: calc(100% + 45px);
		height: calc(100% + 45px);
		border: 20px solid #2196f3;
		border-right-color: transparent;
		position: absolute;
		border-radius: 50%;
		transition: 0.5s ease-in-out;
		transition-delay: 0.5s;
	}
	&:hover {
		&::before {
			transform: rotate(180deg);
		}
		&::after {
			transform: rotate(-180deg);
		}
	}
}
*/

/* From 68 To 73 
.assign-1 {
	width: 500px;
	margin: auto;
	perspective: 1000px;
	&:hover .box {
		transform: rotateY(-180deg);
	}
	.box {
		width: 400px;
		height: 400px;
		margin: auto;
		position: relative;
		transition: transform 1s;
		transform-style: preserve-3d; // To Make The Box Rotate Around 3 Dimention
		.face {
			color: white;
			width: 100%;
			height: 100%;
			font-size: 80px;
			display: flex;
			justify-content: center;
			align-items: center;
			cursor: pointer;
			position: absolute;
			backface-visibility: hidden; // To Hidden The Element That His Rotation More Than 90deg.
			&.front {
				background-color: #e91e63;
			}
			&.back {
				background-color: #ff5722;
				transform: rotateY(180deg);
			}
		}
		// [2] For Second Effect
		// .face {
		// 	transform-origin: top left;
		// }
		// &:hover .box {
		// 	transform: rotateY(-180deg) translateX(400px);
		// }
	}
}

.assign-2 {
	background-color: var(--main-color);
	color: white;
	width: 350px;
	padding: 30px;
	margin: auto;
	text-align: right;
	font-size: 80px;
	font-weight: bold;
	position: relative;
	display: none;
	&::before {
		background-color: white;
		content: "";
		width: 15px;
		height: 140%;
		position: absolute;
		top: -8px;
		left: 40px;
		transform: translateX(30px) rotate(-20deg);
	}
	&::after {
		background-color: white;
		content: "";
		width: 52px;
		height: 140%;
		position: absolute;
		top: -8px;
		left: -27px;
		transform: translateX(10px) rotate(-20deg);
	}
}

.assign-3 {
	background-color: #607d8b;
	width: 400px;
	height: 350px;
	margin: 200px auto;
	border-bottom: 10px solid black;
	position: relative;
	display: none;
	&::before {
		background-color: black;
		content: "";
		width: 275px;
		height: 275px;
		position: absolute;
		top: 0;
		left: 50%;
		border: 6px solid white;
		transform: translate(-50%, -50%) rotate(45deg);
	}
	&::after {
		content: "ELZERO";
		color: white;
		position: absolute;
		bottom: 0;
		left: 10px;
		font-size: 25px;
		font-weight: bold;
		letter-spacing: 3px;
	}
}
*/

/* From 74 To 77 
.assign-1 {
	width: 400px;
	height: 400px;
	margin: 100px auto;
	border: 20px solid var(--second-color);
	border-top-color: transparent;
	border-radius: 50%;
	position: relative;
	animation: rotation 2s ease-in-out infinite paused;
	display: none;
	&:hover {
		animation-play-state: running;
	}
	&::before {
		content: "";
		width: 440px;
		height: 440px;
		position: absolute;
		top: -60px;
		left: -60px;
		border-radius: 50%;
		border: 20px solid #2497e8;
		border-left-color: transparent;
	}
	&::after {
		content: "";
		width: 520px;
		height: 520px;
		position: absolute;
		top: -100px;
		left: -100px;
		border-radius: 50%;
		border: 20px solid #fba200;
		border-right-color: transparent;
	}
	@keyframes rotation {
		from {
			transform: rotate(1turn);
		}
		to {
			transform: rotate(0);
		}
	}
	@keyframes rotation {
		0% {
			transform: rotate(0);
		}
		100% {
			transform: rotate(1turn);
		}
	}
}

.assign-2 {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 80px;
	.box {
		background-color: #fba200;
		width: 40px;
		height: 40px;
		display: block;
		position: absolute;
		box-shadow: inset 0 0 10px black;
	}
	.E-letter {
		background-color: #333;
		width: 350px;
		height: 600px;
		position: relative;
		&::before {
			background-color: white;
			content: "";
			width: 280px;
			height: 195px;
			position: absolute;
			top: 70px;
			right: 0;
		}
		&::after {
			background-color: white;
			content: "";
			width: 280px;
			height: 195px;
			position: absolute;
			bottom: 70px;
			right: 0;
		}
		.box {
			top: 15px;
			right: 15px;
			opacity: 0;
			animation: E-letter ease-in-out 20s forwards;
			animation-delay: 5.2s;
			@keyframes E-letter {
				0% {
					opacity: 0;
				}
				11% {
					opacity: 1;
					top: 15px;
					right: 15px;
				}
				20% {
					top: 15px;
					right: calc(100% - 55px);
					opacity: 1;
				}
				29% {
					top: calc(50% - 20px);
					right: calc(100% - 55px);
					opacity: 1;
				}
				38% {
					top: calc(50% - 20px);
					right: 15px;
					opacity: 1;
				}
				47% {
					top: calc(50% - 20px);
					right: calc(100% - 55px);
					opacity: 1;
				}
				56% {
					top: calc(100% - 55px);
					right: calc(100% - 55px);
					opacity: 1;
				}
				65% {
					top: calc(100% - 55px);
					right: 15px;
					opacity: 1;
				}
				74% {
					top: calc(100% - 55px);
					right: calc(100% - 55px);
					opacity: 1;
				}
				83% {
					top: 15px;
					right: calc(100% - 55px);
					opacity: 1;
				}
				100% {
					top: 15px;
					right: 15px;
					opacity: 1;
				}
			}
		}
	}
	.L-letter {
		background-color: #333;
		width: 350px;
		height: 600px;
		position: relative;
		&::before {
			background-color: white;
			content: "";
			width: 280px;
			height: 530px;
			position: absolute;
			top: 0;
			right: 0;
		}
		.box {
			bottom: 15px;
			right: 15px;
			animation: L-letter 5s ease-in-out 1 forwards;
		}
		@keyframes L-letter {
			0% {
				right: 15px;
				bottom: 15px;
			}
			50% {
				right: calc(100% - 55px);
				bottom: 15px;
			}
			80% {
				right: calc(100% - 55px);
				bottom: calc(100% - 55px);
				opacity: 1;
			}
			100% {
				right: calc(100% - 55px);
				bottom: calc(100% - 55px);
				opacity: 0;
			}
		}
	}
}
*/

/* From 78 To 82 
// Important Selector => :not(ele) :first-child, :last-child, :first-of-type, :last-of-type, :only-child.
// Important Selector => :nth-child(n), :nth-last-child(n), :nth-of-type(n), :nth-last-of-type(n).
// Important Selector => :checked, :empty, :disabled, :required, :focus, ::selection, ::placeholder.
.default {
	font-size: 40px;
}

.assign-1 {
	@extend .default;
	div.main.red {
		color: red;
		font-weight: bold;
	}
}

.assign-2 {
	@extend .default;
	.parent div:nth-child(2) {
		color: red;
		font-weight: bold;
	}
}

.assign-3 {
	@extend .default;
	.parent:nth-child(2) {
		color: red;
		font-weight: bold;
	}
}

.assign-4 {
	@extend .default;
	& > [title]:not(.no-need) {
		color: red;
		font-weight: bold;
	}
}

.assign-5 {
	@extend .default;
	div:nth-child(2) [title] {
		color: red;
		font-weight: bold;
	}
}

.assign-6 {
	@extend .default;
	div:first-of-type div:nth-last-child(2) {
		color: red;
		font-weight: bold;
	}
}

.assign-7 {
	@extend .default;
	div ~ div:not(:last-of-type),
	p {
		color: red;
		font-weight: bold;
	}
}
*/

/* From 83 To 85 
.assign-1 {
	@media print {
		color: red;
		font-size: 60px;
		text-align: center;
	}
}

.assign-2 {
	padding: 40px;
	gap: 10px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	.product {
		background-color: var(--light-gray);
		width: calc((100% / 4) - 10px);
		padding: 20px;
		text-align: center;
		@media (max-width: 800px) {
			width: calc((100% / 2) - 10px);
		}
		@media (max-width: 495px) {
			width: 100%;
		}
		h3 {
			color: var(--main-color);
			font-size: 20px;
			@media (max-width: 800px) {
				color: var(--second-color);
			}
			@media (max-width: 495px) {
				color: black;
			}
		}
		p {
			font-size: 16px;
		}
	}
}

.assign-3 {
	@extend .assign-2;
	gap: 10px;
	div {
		@extend .product;
		&:first-child {
			width: 100%;
		}
		&:nth-child(2) {
			width: calc(50% - 20px);
			@media (max-width: 800px) {
				width: calc((100% / 3) - 10px);
			}
			@media (max-width: 495px) {
				width: 100%;
			}
		}
		&:nth-child(3) {
			width: calc(50% - 20px);
			@media (max-width: 800px) {
				width: calc((100% / 3) - 10px);
			}
			@media (max-width: 495px) {
				width: 100%;
			}
		}
		&:last-child {
			width: 100%;
			@media (max-width: 800px) {
				width: calc((100% / 3) - 10px);
			}
			@media (max-width: 495px) {
				width: 100%;
			}
		}
	}
}
*/

/* From 86 To 88
.flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-flow: row wrap;
}
.box-icon {
	font-size: 25px;
	display: block;
	position: absolute;
	top: 50%;
	left: 15px;
	transform: translateY(-50%);
}
.assign-1 {
	padding: 20px;
	gap: 20px;
	div {
		background-color: var(--light-gray);
		width: 300px;
		padding: 20px;
		text-align: center;
		position: relative;
		h3 {
			color: var(--main-color);
			font-size: 20px;
			font-weight: bold;
		}
		p {
			font-size: 16px;
		}
		.box-icon {
			padding: 10px;
		}
	}
}
*/
$widths: 10, 20, 30, 40, 50, 60, 70, 80, 90, 100;
@each $width in $widths {
	.arrow-#{$width} {
		position: relative;
		&::before {
			content: "";
			position: absolute;
		}
		&.top::before {
			bottom: 100%;
			left: 50%;
			border: #{$width}px solid;
			border-color: transparent transparent var(--dark-gray) transparent;
			transform: translateX(-50%);
		}
		&.right::before {
			top: 50%;
			left: 100%;
			border: #{$width}px solid;
			border-color: transparent transparent transparent var(--dark-gray);
			transform: translateY(-50%);
		}
		&.bottom::before {
			top: 100%;
			left: 50%;
			border: #{$width}px solid;
			border-color: var(--dark-gray) transparent transparent transparent;
			transform: translateX(-50%);
		}
		&.left::before {
			top: 50%;
			right: 100%;
			border: #{$width}px solid;
			border-color: transparent var(--dark-gray) transparent transparent;
			transform: translateY(-50%);
		}
	}
}

.assign-2 {
	width: 800px;
	margin: auto;
	div {
		background-color: var(--dark-gray);
		padding: 50px 20px;
		margin: 50px 20px;
		font-size: 40px;
	}
}

/* Page Fold */
.page-fold {
	background-color: orange;
	color: white;
	width: 250px;
	height: 250px;
	text-align: center;
	font-size: 45px;
	font-weight: bold;
	position: absolute;
	top: 50%;
	left: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	border-radius: 20px;
	box-shadow: 0 0 30px 10px black;
	transform: translate(-50%, -50%);
	transition: 0.3s ease-in-out;
	&:hover {
		text-shadow: 5px 5px 10px black;
	}
	&::after,
	&::before {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		transition: 0.3s ease-in-out;
	}
	&:hover::after {
		transition-duration: 1.5s;
		border-bottom: 150px solid orangered;
		border-right: 150px solid white;
	}
	&::before {
		content: "fold";
		top: 0;
		right: 0;
		opacity: 0;
		z-index: 1;
		font-size: 27px;
		transform: rotate(45deg);
	}
	&:hover::before {
		transition-duration: 1.5s;
		opacity: 1;
		top: 30px;
		right: 25px;
	}
}
