main.content-area#content-area
    .box-container 
        h3.pageTitle #{pageTitle}
        ul.title I Created This Page To Trianing On: 
            li.content [1] Create A System Color Themes 
            li.content [2] Use Git & Github
            li.content [3] Create A Custome Dropdown In Sidebar
            li.content [4] Use Multible Components In Javascript 
            li.content [5] Build A Professional System By Gulp.js 
