.mega-menu 
    .mega-header 
        h3 Shehab Ayman
        p Premium Member
    .mega-body 
        p Added Comment On Post "How To Make Bla Bla Bla"
        p Created Post On Catagory "Science"
        p Created Chart On Charts Page 
        p Added Comment On Post "How To Make Bla Bla Bla"
    .mega-footer 
        .label 
            i.fa.fa-gear
            p Settings 
        .label 
            i.fa.fa-user
            p My Profile 
        .label 
            i.fas.fa-power-off
            p LogOut
