aside.setting-side
    i.far.fa-times-circle.close-setting
    h3.setting-title Settings

    ul.main-ul 
        li.main-link 
            - let themes = ["blue-theme", "purple-theme", "yellow-theme", "green-theme", "red-theme", "silver-theme", "darkBlue-theme", "black-theme"]
            span.link-title #[i.fas.fa-angle-left.link-arrow] Color Options 
            ul.nested-ul 
                each theme in themes
                    li.nested-link.theme-option(data-theme=theme) #{theme}

        li.main-link 
            - let fonts = ["Poppins-font", "Cursive-font", "Caveat-font", "Cinzel-font", "Dancing-font", "Montserrat-font"]
            span.link-title #[i.fas.fa-angle-left.link-arrow] Font Options
            ul.nested-ul
                each font in fonts 
                    li.nested-link.font-option(data-font=font)= font
