@use "scss/mixins" as *;

.ajax-request {
	.user {
		@include Flex(flex-start, center);
		flex-wrap: wrap;
		gap: 1rem;
		.mybtn {
			font-size: 1.5rem;
			padding: 0 10px;
			margin: initial;
		}
	}
}
