// Import The Global Scss Files
@use "./mixins" as *;
@use "./global" as *;
@use "./classes" as *;
@use "./themes" as *;
@use "./toDos" as *;

.title {
	color: get(white);
	text-align: left;
}

.main-color {
	color: get(main-color);
}

.second-color {
	color: get(second-color);
}

.mybtn {
	color: get(white);
	font-size: 2rem;
	&.toDos-btn {
		width: 100px;
		padding: 5px 15px;
		font-size: 1.5rem;
		margin-left: 15px;
	}
}

input {
	background-color: get(dark-color);
	color: get(light-color);
	width: 500px;
	font-size: 18px;
	padding: get(p2);
	margin: get(m3);
	border: get(border);
}

textarea {
	@extend input;
	height: 150px;
}

select {
	@extend input;
	cursor: pointer;
}

hr {
	background: get(light-color);
	height: 1px;
	margin: gutter(m6, p0);
}

.f-20,
.f-30 {
	padding: get(p4);
}

.pointer {
	cursor: pointer;
}
