<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Upload Files</title>
		<link rel="stylesheet" href="/css/style.css" />
	</head>
	<body>
		<div class="">
			<h1 class="title">Upload Files Page</h1>
			<form id="form" enctype="multipart/form-data">
				<input type="file" id="input-files" accept="image/*" multiple />
				<button type="submit" class="submit-btn">Submit</button>
			</form>
			<h3 class="success"></h3>
			<h3 class="error"></h3>
		</div>
		<script src="/js/script.js"></script>
	</body>
</html>
