link(rel="stylesheet", href="../js/libs/bootstrap.css")
link(rel="stylesheet", href="../js/libs/swiper.css")
link(rel="stylesheet", href="../js/libs/select2.css")
link(rel="stylesheet", href="../js/libs/jQuery.css")
link(rel="stylesheet", href="../js/libs/alert.css")

link(rel="stylesheet", href="../css/style.css")