html {
	font-size: 10px;
}
body {
	background-color: black;
	font-family: cursive;
	color: white;
}
h3 {
	color: crimson;
	font-size: 3.2rem;
}
.repos-container {
	font-size: 3rem;
	color: cadetblue;
}
.repos-container h3 {
	color: chocolate;
	font-size: 2rem;
}
