* {
	color: white;
	transition: 0.2s ease-in-out;
	box-sizing: border-box;
}
::-webkit-scrollbar {
	width: 7px;
}
::-webkit-scrollbar-track {
	background-color: white;
	width: 0.7px;
	border-radius: 10px;
}
::-webkit-scrollbar-thumb {
	background-color: orange;
}
::selection {
	background-color: orange;
	color: black;
	text-shadow: 10px 10px 10px #300;
}
html {
	width: 100vw;
	min-height: 200vh;
	overflow-x: hidden;
}
body {
	background-color: black;
}
.product-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	gap: 1rem;
	padding: 5px;
}
.product {
	background-color: #255;
	padding: 5px 20px;
	border-radius: 00px 40px;
	box-shadow: 7px 7px 7px #300;
	border-bottom: 1px solid wheat;
}
.product-description {
	color: gray;
}
.red {
	color: red;
}
.opacity-60 {
	opacity: 0.6;
}
#my-div {
	color: orange;
}
.my-form {
	max-width: 350px;
	padding: 10px;
}
.btns {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.btn {
	background-color: #255;
	color: white;
	border-radius: 10px;
	font-size: 14px;
	font-weight: bold;
	padding: 8px 30px;
	margin: 20px 0;
	cursor: pointer;
	transition: 0.5s ease-in-out;
	border-color: wheat wheat #255 #255;
	border-width: 1px;
	border-style: solid;
	box-shadow: -5px -5px 5px rgba(255, 255, 255, 0.4);
}
.btn:hover {
	background-color: #300;
	border-color: wheat #300 #300 wheat;
	border-style: solid;
	border-width: 1px;
	box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.4);
}
input {
	background-color: #300;
	color: white;
	width: 100%;
	padding: 10px 5px;
	margin: 5px;
	display: block;
	border-radius: 10px;
}
input:focus {
	background-color: #255;
}
a {
	text-decoration: none;
	color: rgb(68, 103, 245);
	display: block;
	padding: 5px;
}
.scroll {
	color: black;
	background: orange;
	padding: 8px;
	font-weight: bold;
	font-size: 14px;
	border-radius: 10px;
	cursor: pointer;
	position: fixed;
	bottom: 20px;
	left: 20px;
}
.scroll-down {
	left: initial;
	right: 20px;
}

.indexed-db form input {
	margin: 10px 0;
}
.checkbox {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 10px;
}
.checkbox input {
	width: fit-content;
}
