@use "../helpers/global" as *;
@use "../helpers/mixins" as *;

header {
	@include Flex(space-between, center);
	@include Fixed(tr, 0, 0);
	background: Get(white);
	color: Get(dark);
	width: calc(100% - 250px);
	padding: Get(p2);
	box-shadow: Get(box-shadow);
	&.full {
		width: 100%;
	}
	.left-icons {
		.dropdown {
			padding-left: 10px;
			.dropdown-menu {
				width: 400px;
				top: 150%;
				padding: Get(p0);
				&:before {
					@include Absolute(tl, -30px, 9px);
					content: "";
					border-width: 15px;
					border-style: solid;
					border-color: transparent transparent Get(dark) transparent;
				}

				.noti-header {
					@include Flex(space-between, center);
					background-color: Get(dark);
					color: Get(white);
					padding: Get(p2);
					font-weight: bold;
					cursor: pointer;
				}

				.nori-body {
					background-color: Get(white);
					padding: Get(p2);
					cursor: pointer;
					ul {
						padding: Get(p0);
						line-height: 2.5;
						li {
							@include Flex(flex-start, center);
							.content {
								font-size: 16px;
								font-weight: bold;
								&:not(&:last-child),
								&:not(&:first-child) {
									width: 100%;
									border-top: Get(border);
									border-color: #bbb;
								}
							}
							i {
								background-color: Get(main-color);
								color: Get(white);
								font-size: 16px;
								padding: Get(p1);
								margin-right: Get(m4);
								border-radius: Get(r1);
								&.money-icon {
									padding: 9px;
								}
								&.green {
									background-color: Get(second-color);
								}
							}
						}
					}
				}

				.noti-footer {
					color: Get(second-color);
					padding: Get(p1);
					text-align: center;
					border-top: Get(border);
					border-color: #bbb;
					cursor: pointer;
					p {
						width: fit-content;
						font-weight: bold;
						margin: auto;
						&:hover {
							border-bottom: Get(border);
							border-color: Get(second-color);
						}
					}
				}
			}
		}
	}
	.right-icons {
		@include Flex(space-between, center);
		position: relative;
		@import "./settings";
		@import "./megaMenu";
	}
	@include Width(xmd) {
		width: 100%;
		&.full {
			width: calc(100% - 250px);
		}
	}
}
