@use "../helpers/global" as *;
@use "../helpers/mixins" as *;
aside.setting-side {
	@include Fixed(tr, 0, 0);
	background-color: #161a27;
	color: Get(white);
	width: 250px;
	height: 100vh;
	padding: Get(p2);
	overflow-y: auto;
	z-index: 1000;
	clip-path: polygon(100% 0, 100% 0, 100% 50%, 100% 100%, 100% 100%, 100% 50%);
	&::-webkit-scrollbar {
		width: 0;
	}
	&.close {
		clip-path: polygon(0 0, 100% 0, 100% 50%, 100% 100%, 0 100%, 0% 50%);
	}
	.setting-title {
		color: Get(white);
		padding: Get(p2);
		text-align: center;
	}
	.close-setting {
		color: Get(white);
	}
	.main-ul {
		padding-left: Get(p0);
		.main-link {
			color: Get(white);
			line-height: 2.3;
			padding-right: Get(p2);
			position: relative;
			cursor: pointer;
			&::before {
				@include Absolute(tr, 14px, 0);
				content: "";
				width: 10px;
				height: 10px;
				border: 2px solid Get(white);
				border-radius: Get(r100);
			}
			.link-title {
				@include Flex(space-between, center);
				padding-right: Get(p1);
				.link-arrow {
					color: Get(white);
					padding-right: Get(p2);
				}
			}
			.nested-ul {
				margin-right: -11px;
				text-align: right;
				transition: 0.3s ease-in-out;
				.nested-link {
					$colors: #00a8ff, #9c88ff, #fbc531, #4cd137, #e84118, #7f8fa6, #273c75, #353b48;
					padding-right: Get(p3);
					position: relative;
					@for $i from 1 through length($colors) {
						&:nth-child(#{$i}) {
							color: nth($colors, $i);
							&::before {
								background-color: nth($colors, $i);
							}
							&:hover::after {
								background: nth($colors, $i);
							}
						}
					}
					&:before {
						@include Absolute(tl, 10px, -10px);
						content: "";
						width: 12px;
						height: 12px;
					}
					&::after {
						@include Absolute(tr, 0, 0);
						background: Get(light-color);
						content: "";
						width: 3px;
						height: 100%;
					}
					&.font-option {
						&:before {
							display: none;
						}
					}
				}
			}
		}
	}
}
