extends ../lessons/blocks

block title 
    - title = "Pug Toturial"
    title= title

append links
    link(rel="stylesheet", href="../../src/style.css")

prepend scripts
    script(src="../../src/script.js")

block content
    //- include ../lessons/commands
    //- include ../lessons/syntax
    //- include ../lessons/attributes
    //- include ../lessons/includes
    //- include ../lessons/loops
    //- include ../lessons/interpolation
    //- include ../lessons/variables
    //- include ../lessons/mixins
    //- include ../lessons/blocks
    //- include ../lessons/switch