div.class
    label(for="use comma") use comma
    input(type="text", placeholder="text", value="text input")
div#id 
    label.primary(for="without comma") without comma
    input(type="text" placeholder="text" value="text input")
div.class
    label(for="merge multible text") merge multible text
    input(type="text" placeholder="input" + "-text" value="input" + " " + "text")