- let friendsNo = 2

case friendsNo
    when 0
        p You Have No Friends
    when 1
    when 2
        p You Have A Little Friends 
    when 3
        - break
    default: p You Have #{friendsNo} Friend
